# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
*.sqlite3
media/
staticfiles/

# IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Virtual Environment
venv/
env/

# Build files
build/
dist/
*.egg-info/